.img-lazy {
  filter: blur(20px);
}

.right-side-annimation {
  opacity: 0;
  transform: translateX(14rem);
}

.left-side-annimation {
  opacity: 0;
  transform: translateX(-14rem);
}

.side--right {
  transition: transform 1s 0.5s, opacity 1s 0.5s;
}
.side--left {
  transition: transform 1s, opacity 1s;
}

.operations__content--active {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 3rem;
}

.tab--active {
  transform: translateY(-20%);
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
}
.section {
  transition: opacity 1s, transform 1s;
}

.scroll-annimation {
  opacity: 0;
  transform: translateY(8rem);
}

/* COOKIE MESSAGE */
.cookie-message {
  background-color: #37383d;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 70px;
  width: 100%;
  color: #bbb;
  font-size: 1.5rem;
  font-weight: 400;
  position: fixed;
  bottom: 0;
  z-index: 1000;
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  &__dot {
    border: none;
    background-color: #b9b9b9;
    opacity: 0.7;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin-right: 1.75rem;
    cursor: pointer;
    transition: all 0.5s;
  }
}

.dot--active {
  background-color: #888;
  opacity: 1;
}

.err--input {
  border-color: #f44336;
}

.err--msg {
  font-size: 1rem;
  color: #f44336;
  position: absolute;
  bottom: 0;
  left: 0.3rem;
  z-index: 5;
  transition: all 0.1s ease-in;
}

.err--msg-annimation {
  transform: translateY(-15px);
}
