.header {
  height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: max-content auto;
}

.features {
  border-top: 1px solid #ddd;
  padding: 15rem 0;
  overflow: hidden;
}

.operations {
  border-top: 1px solid #ddd;
  padding: 15rem 0;
}

.testimonials {
  border-top: 1px solid #ddd;
  padding: 15rem 0;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  background-color: #37383d;
  padding: 10rem 3rem;
  text-align: center;
}
