.huge-heading {
  font-size: 5.5rem;
  line-height: 1.35;
}

.heading-tertiary {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  color: var(--color-primary);
}

.heading-secondary {
  font-size: 4rem;
  line-height: 1.3;
  font-weight: 500;
}

.title-primary {
  font-size: 2.25rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  font-weight: 500;
}

.paragraphe {
  font-size: 1.7rem;
}
